{{>header}}
      <div class="post-page">
        <div role="main" class="post">

          <h2 class="post-title">{{post.title}}</h2>
          <p class="post-meta small">{{post.date}}  {{post.time}}</p>
          <div class="post-content">
          {{{post.__content}}}
        </div>
        </div>

        <nav class="blog-pagination">
          {{#if post.prev}}
          <h4>Older Post</h4>
          <div class="post-container">
            <div class="row">
              <div class="col-sm-4">
                <a href="{{post.prev.url}}" class="blog-post-thumb" alt="{{post.prev.coverPhotoAlt}}" style="background-image: url({{post.prev.coverPhoto}});"></a>
              </div>
              <div class="col-sm-8">
                <a class="blog-post-title" href="{{post.prev.url}}">{{post.prev.title}}</a>
                <p class="blog-post-meta">{{post.prev.blurb}}</p>
                <p class="blog-post-meta"><i class="ion-md-pricetags"></i> {{#each post.prev.tags}}<a class="blog-post-tag">{{this}}</a>{{/each}}</p>
                <p class="blog-post-meta">{{post.prev.date}}</p>
              </div>
            </div>
          </div>

          {{/if}}

          {{#if post.next}}
            <h4>Newer Post</h4>
          <div class="post-container">
            <div class="row">
              <div class="col-sm-4">
                <a href="{{post.next.url}}" class="blog-post-thumb" alt="{{post.next.coverPhotoAlt}}" style="background-image: url({{post.next.coverPhoto}});"></a>
              </div>
              <div class="col-sm-8">
                <a class="blog-post-title" href="{{post.next.url}}">{{post.next.title}}</a>
                <p class="blog-post-meta">{{post.next.blurb}}</p>
                <p class="blog-post-meta"><i class="ion-md-pricetags"></i> {{#each post.next.tags}}<a class="blog-post-tag">{{this}}</a>{{/each}}</p>
                <p class="blog-post-meta">{{post.next.date}}</p>
              </div>
            </div>
          </div>
          {{/if}}
        </nav>

      </div>

{{>footer}}
