<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{config.description}}">
  <meta name="author" content="{{config.author}}">
  <meta name="generator" content="{{config.generator}}">
  <title>{{config.title}}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/quest-log.css">
</head>

<body class="d-flex flex-column h-100">
  <header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top  bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <strong class="font-weight-bold"><i class="ion-md-bonfire"></i> {{config.title}}</strong>
          <p class="small">{{config.subtitle}}</p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {{#each config.pages}}
              {{#if linkOnly}}
                <li class="nav-item">
                  <a class="nav-link" href="{{file}}">{{name}}</a>
                </li>
              {{else}}
                <li class="nav-item">
                  <a class="nav-link" href="/{{file}}">{{name}}</a>
                </li>
              {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </nav>

  </header>
  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
    <div class="container">
